body
{
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1
{
    text-align: center;
    font-family: Georgia;
}

p
{
   font-family: Georgia;
   margin-left: 10px;
}

li
{
    font-family: Georgia;
    margin-left: 10px; 
}
h2
{
    font-family: Georgia;
    margin-left: 10px; 
}
a
{
   font-family: Georgia;
}

.user_name
{
    font-weight: bold;
    text-decoration: none;
    color: black;
}
div.nav_bar
{
    background: linear-gradient(#77b300, #446600);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    text-align: center;
    overflow: hidden;
    z-index: 2;
}

.nav_button {
    padding-top: 17px;
    padding-bottom: 17px;
    padding-right: 4vw;
    padding-left: 4vw;
    text-align: center;
    color: #e6e6e6;
    font-weight: bold;
    line-height: 50px;
    text-decoration: none;
}
.nav_button:hover {

    background: linear-gradient( #808080, #333333);
}

a.button{
    background: linear-gradient(#77b300, #446600);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 50px;
    padding-left: 50px;
    border-radius: 5px;
    text-align: center;
    color: #e6e6e6;
    font-weight: bold;
    line-height: 50px;
    text-decoration: none;
    margin-left: 10px;

}
a.button:hover {

    background: linear-gradient( #808080, #333333);
}

input.button{
    background: linear-gradient(#77b300, #446600);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 25px;
    padding-left: 25px;
    border-radius: 5px;
    text-align: center;
    color: #e6e6e6;
    font-weight: bold;
    line-height: 20px;
    text-decoration: none;
    margin-left: 10px;
}

button.button
{
    width: 250px;
    height: 75px;
    text-align: center;
    color: #e6e6e6;
    background: linear-gradient(#77b300, #446600);
    font-weight: bold;
}

button.button:hover
{
    background: linear-gradient( #808080, #333333);   
}
.big_user_image{
    width:256px;
    height:256px;
    object-fit:cover; 
    margin-left: auto;
    margin-right: auto;
    display: block; 
    border: solid;
    border-color: #444422;
}
div.controls {
    background-color:#999966;
    border-top: solid;
    border-bottom: solid;
    border-color: #444422;
}
div.content {
    background-color: rgba(217,255,179,0.8);    
    border-left: solid;    
    border-right: solid;
    border-color: #55552b;   
    flex-flow: column;
    width: 80%;
    position: absolute;
    top: 50px;
    left: 10%;
    min-height: 100%;
    height: auto;
}

div.post
{
    display: grid; 
    grid-template-columns: 15% 85%; 
    grid-template-rows: 10% 20% 60% 10%; 
    margin-top: 10px;
    min-height: 250px;
    height: 250px;

}

div.post .header{
    grid-column: 1 / 3; 
    grid-row: 1; 
    background-color: #444422;
}

div.post .user{
    grid-column: 1; 
    grid-row: 2 / 5;
    background-color:#999966;
    border-right: solid;
    border-color: #444422;
    
}

div.post .title{
    grid-column: 2; 
    grid-row: 2; 
    background-color: #bfff80; 
    text-overflow: ellipsis; 
    overflow: hidden; 
    white-space: nowrap;
    border-bottom: solid;
    border-color: #444422;
    border-width: 2px;
}

div.post .text{
    grid-column: 2; 
    grid-row: 3 / 4; 
    background-color: #bfff80;
    overflow: hidden;    
}

div.post .footer{
    grid-column: 1 / 3; 
    grid-row: 4; 
    background-color:#444422;    
}

div.post .attachments_text
{
    width: 80%; 
    text-overflow: ellipsis; 
    overflow: hidden; 
    white-space: nowrap;
}

div.post .user_image{
    width: 50%; 
    height: 50%; 
    object-fit:cover; 
    margin-left: auto;
    margin-right: auto;
    display: block; 
    margin-top: 10%; 
    border: solid;
    border-color: #444422;
}

div.post .title_text{
    text-align: top; 
    display: inline-block; 
    margin-top: 5; 
}

div.post_show
{
    display: grid;  
    grid-template-columns: 15% 85%; 
    grid-template-rows: 25px max-content minmax(170px, min-content) min-content 25px; 
    margin-top: 10px;
    background-color: #bfff80; 
}

div.post_show .header
{
    grid-column: 1 / 3; 
    grid-row: 1; 
    background-color: #444422;
}

div.post_show .user
{
    grid-column: 1; 
    grid-row: 2 / 5;
    background-color:red;
    background-color:#999966;
    border-right: solid;
    border-color: #444422;    
}

div.post_show .user_image
{
    width: 128px; 
    height: 128px; 
    object-fit:cover; 
    margin-left: auto;
    margin-right: auto;
    display: block; 
    margin-top: 10%; 
    border: solid;
    border-color: #444422;
}
div.post_show .title
{
    grid-column: 2; 
    grid-row: 2; 
    text-overflow: ellipsis; 
    overflow: hidden; 
    word-wrap: break-word;
    border-bottom: solid;
    border-color: #444422;
    border-width: 2px;
}
div.post_show .title_text
{
    text-align: top; 
    display: inline-block; 
    margin-top: 5; 
}

div.post_show .text
{
    grid-column: 2; 
    grid-row: 3; 
    word-wrap: break-word;
}

div.post_show .attachments
{
    grid-column: 2; 
    border-top: solid;
    border-color: #444422;
    overflow: hidden;
}

div.post_show .footer
{
    grid-column: 1 / 3; 
    grid-row: 5; 
    background-color:#444422;  
}

div.comment_editor
{
    display: grid; 
    grid-template-columns: 100%; 
    grid-template-rows: 25px auto 40px; 
    background-color:lightblue; 
    height: 500px; 
    visibility: hidden; 
    width: 90%; 
    margin-left: 5%;
}

div.comment_editor .header
{
    grid-column: 1; 
    grid-row: 1; 
    background-color: #444422;
}

div.comment_editor .text
{
    grid-column: 1; 
    grid-row: 2;
    background-color:#bfff80;
    border-left: solid;
    border-right: solid;
    border-color: #444422;
}

div.comment_editor .footer
{
    grid-column: 1; 
    grid-row: 3; 
    background-color: #444422;
}

div.article_prev
{
    display: grid; 
    grid-template-columns: 100%; 
    grid-template-rows: 15% 50% 35%; 
    background-color: red; 
    height: 250px; width: 150px; 
    margin-left: 20px; 
    margin-top: 20px;
    border: solid;
    border-color: #444422;
}

div.article_prev .title
{
    grid-row: 1; 
    background-color:#999966;
    text-align: center;
    border-bottom: solid;
    border-color: #444422;
    text-overflow: ellipsis;
    overflow: hidden; 
}

div.article_prev .thumbnail
{
    grid-row: 2; 
    background-color: #bfff80; 
    border-bottom: solid;
    border-color: #444422;
}

div.article_prev .text
{
    grid-row: 3; 
    background-color: #bfff80; 
    overflow: hidden; 
    overflow-wrap: break-word;
}

div.thumbnail .thumbnail_img
{
    width:110px; 
    height:110px; 
    object-fit:cover; 
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 2%; 
    display: block;
    border: solid;
    border-color: #444422;
}

div.profile_box
{
    display: grid; 
    grid-template-columns: 100%; 
    grid-template-rows: 20%, 5%, 75%; 
}

div.image_display
{
    display: grid; 
    grid-template-columns: 100%; 
    grid-template-rows: 90%, 10%; 
    height: 70vh; 
    width: 70vw; 
    margin: auto;    
}

div.image_display div.main
{
    display: grid; 
    grid-template-columns: 75px auto 75px; 
    grid-template-rows: 100%; 
    height: 60vh; 
    width: 70vw; 
    background-color: black; 
    align-items: center;    
}

div.main .arrow_left
{
    grid-column: 1; 
    grid-row: 1; 
    z-index: 1; 
    background-color: rgba(122, 122, 122, 0.5); 
    height: 150px; 
    width: 75px; 
    display: flex; 
    align-items: center;    
}

.arrow_left .arrow
{
    width: 0; 
    height: 0; 
    border-top: 25px solid transparent; 
    border-right: 50px solid black; 
    border-bottom: 25px solid transparent;  
    margin: auto;
}

div.main .arrow_right
{
    grid-column: 3; 
    grid-row: 1; 
    z-index: 1; 
    background-color: rgba(122, 122, 122, 0.5); 
    height: 150px; 
    width: 75px; 
    display: flex; 
    align-items: center;    
}

.arrow_right .arrow
{
    width: 0; 
    height: 0; 
    border-top: 25px solid transparent; 
    border-left: 50px solid black; 
    border-bottom: 25px solid transparent;  
    margin: auto;
}

div.image_display .image_prev
{
    display:inline-block; 
    width: 4vw; 
    height: 4vw; 
    object-fit:cover;
    margin-left: 20px;
    border: solid;
    border-color: #444422;
}

div.image_display .image
{
    max-width: 100%; 
    max-height: 100%; 
    object-fit:scale-down; 
    margin: auto; 
    display: block;    
}